[meta]
title = "Running on SPICE"
description = """
A template for submission of jobs to a SPICE cluster.

### Warning
> This suite submits very small jobs to a SPICE cluster if you site has one
> set up.
> 
> Jobs this size are NOT a good use of SPICE resources. Use of this suite
> for purposes other than learning may bring unwanted attention from your
> system admins.

### How to find out about your jobs SPICE resource usage.
Run this script in a different terminal to see what SPICE is doing:
```
now=$(date +%H:%M)
export SACCT_FORMAT="jobname%40,jobid%12, reqcpus%4, ncpus%4, reqmem, maxrss, state"
watch -n 0.3 sacct --units M --user yourusername --starttime "${now}"
```
"""
written for cylc version = 7.x

[cylc]
    UTC mode = True

[scheduling]
    initial cycle point = 19831213T0600Z
    final cycle point = 19831213T0600Z
    max active cycle points = 1
    [[dependencies]]
        [[[PT1H]]]
            graph = Nutmeg


[runtime]
    [[Nutmeg]]
        script="sleep 3"
        [[[job]]]
            batch system = slurm
        [[[directives]]]
            --time = 00:15
            --mem = 5Mn
            # Set custom output dir/file - n.b. dir must exist
            # --output = "custom/output/dir
