[meta]
title = "A quick demo of Cylc adding `lib/python` to pythonpath"

[cylc]
    UTC mode = True

[scheduling]
    [[dependencies]]
        R1 = Quokka => Numbat


[runtime]
    [[root]]
        script = "example.py"
    [[Quokka]]
        [[[environment]]]
            whom = Quokka
    [[Numbat]]
        [[[environment]]]
            whom = Numbat
        


